# Ambientes Virtuais
.venv/
venv/
ENV/
env/

# Cache do Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do VS Code ou IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
Thumbs.db
.DS_Store